*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    
}

.box{
    width: 600px;
    height: 500px;
    object-fit: contain;
    display: flex;
    align-items: center;
}


#centerBox img{
    width: 100%;
    object-fit: contain;
}

.box button{
    font-size: 70px;
    color: white;
    background-color: #222;
    border: none;
    margin: 20px;
}

.box button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.hidden{
    display: none;
}

h4, p{
    color: white;

}

.boxImage{
    position: relative;
}

.description{
    position: absolute;
    bottom: 0;
    right: 0;
}
